<div id="toc" class="ui inverted vertical menu">
    <div class="item">
        <i class="home icon"></i><span class="text">Home</span>
        <div class="menu">
            <a class="active item"><span class="text">Search</span></a>
            <a class="item"><span class="text">Add</span></a>
            <a class="item"><span class="text">Remove</span></a>
        </div>
    </div>
    <a class="item">
        <i class="grid layout icon"></i><span class="text">Browse</span>
    </a>
    <a class="item">
        <i class="mail icon"></i><span class="text">Messages</span>
    </a>
</div>
