<form class="ui form well">
    <div class="ui action input">
        <input type="text" placeholder="Search..." ng-model="searchKeyword">
        <button class="ui button" ng-click="search()">Search</button>
    </div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th ng-repeat="column in columns">
                <a ng-click="changeSorting(column.value)">
                    {{column.name}}
                    <i ng-show="Sort.column == '{{column.value}}'"
                       ng-class="{'caret up icon': !Sort.descending, 'caret down icon': Sort.descending}">
                    </i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in pagedItems[currentPage]">
            <td ng-repeat="column in $parent.columns" ng-bind="data.{{column.value}}"></td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th colspan="{{columns.length}}">
                <div class="ui borderless pagination menu">
                    <ul class="pagination">
                        <li class="item" ng-class="{disabled: currentPage == 0}">
                            <i ng-click="prevPage()" class="left arrow icon"></i> Previous
                        </li>

                        <li class="item" ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                            ng-class="{'active-page': n == currentPage}"
                            ng-click="setPage()">
                            {{n + 1}}
                        </li>

                        <li class="item" ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            Next <i ng-click="nextPage()" class="icon right arrow"></i>
                        </li>
                    </ul>
                </div>
                <div class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Add User
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</form>