<form class="ui form well">
    <div class="ui action input">
        <input type="text" placeholder="Search..." ng-model="searchKeyword">
        <button class="ui button" ng-click="search()">Search</button>
    </div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th ng-repeat="column in columns">
                <a ng-click="changeSorting(column.value)">
                    {{column.name}}
                    <i ng-show="Sort.column == '{{column.value}}'"
                       ng-class="{'caret up icon': !Sort.descending, 'caret down icon': Sort.descending}">
                    </i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in pagedItems[currentPage]">
            <td ng-repeat="column in $parent.columns" ng-bind="data.{{column.value}}"></td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th colspan="{{columns.length}}">
                <div>
                    <div class="ui borderless pagination menu">
                        <ul class="pagination">
                            <li class="item">
                                <a ng-class="{'disabled item-disabled': currentPage == 0}"
                                   ng-click="prevPage()"><i class="left arrow icon"></i>Previous</a>
                            </li>

                            <li class="item" ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                ng-class="{'active-page': n == currentPage}"
                                ng-click="setPage()">
                                {{n + 1}}
                            </li>

                            <li class="item">
                                <a ng-class="{'disabled item-disabled': (currentPage) == pagedItems.length - 1}"
                                   ng-click="nextPage()">Next <i class="icon right arrow"></i></a>
                            </li>
                        </ul>
                    </div>
                    <select class="ui dropdown item-page" ng-model="itemsPerPage" ng-change="search()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <div ng-if="add" ng-click="add()" class="ui right floated small labeled icon button">
                        <i class="plus icon"></i> Add
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</form>