<div class="ui inverted fixed vertical menu dx-menu">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="dist/images/logo.png" height="48" width="35">
        </a>
        <span class="text-menu title"><b>Example!</b></span>
    </div>
    <div class="item search">
        <div class="ui icon input text-menu">
            <input type="text" ng-model="filterMenu" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <ul ng-repeat="menu in MenusFiltered" class="item click" ng-click="menuRedirect($index)">
        <i class="{{menu.icon}} icon"></i><span class="text-menu">{{menu.title}}</span>
        <i class="text-menu" ng-if="menu.subMenus.length > 0" ng-class="{'caret down icon': menu.showSubMenu, 'caret right icon': !menu.showSubMenu}"></i>
        <li class="menu sub-menu" ng-if="menu.subMenus.length > 0" ng-repeat="submenu in menu.subMenus"
            ng-class="{'expand-animate': menu.showSubMenu, 'collapse-animate': !menu.showSubMenu}">
            <a class="item" href="{{submenu.route}}"><span class="text-menu">{{submenu.title}}</span></a>
        </li>
    </ul>
</div>