<div class="ui inverted fixed vertical menu dx-menu">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="dist/images/logo.png" height="48" width="35">
        </a>
        <span class="text title"><b>Example!</b></span>
    </div>

    <a class="item" ng-click="showMenu = !showMenu">
        <i class="home icon"></i><span class="text">Home</span>
        <i class="text" ng-class="{'chevron down icon': showMenu, 'chevron right icon': !showMenu}"></i>
    </a>
    <div class="menu" ng-class="{'expand-animate': showMenu, 'collapse-animate': !showMenu}">
        <a class="item"><span class="text">Search</span></a>
        <a class="item"><span class="text">Add</span></a>
        <a class="item"><span class="text">Remove</span></a>
    </div>

    <a class="item">
        <i class="grid layout icon"></i><span class="text">Browse</span>
    </a>
    <a class="item">
        <i class="mail icon"></i><span class="text">Messages</span>
    </a>
</div>