<div class="well">
    <div class="field">
        <div ng-click="TriggerNextStep()" class="ui right floated small labeled icon button" ng-show="activeStep < stepsDefinition.steps.length - 1">
            <i class="chevron right icon"></i> Next
        </div>
        <div ng-click="TriggerPrevStep()" class="ui right floated small labeled icon button" ng-show="activeStep > 0">
            <i class="chevron left icon"></i> Previous
        </div>
    </div>
    <hr class="faded">
    <div class="field">
        <ul class="wizard-step-indicator">
            <li class="steps-{{stepsDefinition.steps.length}}" ng-repeat="step in stepsDefinition.steps" 
                          ng-class="{default: !step.status.done && !step.status.active && !step.status.editing, 
						  current: step.status.active, 
						  done: step.status.done && !step.status.active, 
						  editing: step.status.editing && !step.status.done}">
                <div>
                    <div class="step-marker step-marker-{{stepsDefinition.steps.length}}"></div>
                    <div>
                        <a>{{step.title}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="field">
        <div id="wizardStep"></div>
    </div>
    <div class="field">
        <hr class="faded">
    </div>
    <div class="field">
        <div ng-click="Cancel()" class="ui left floated small labeled icon button" ng-show="showCancelButton()">
            <i class="remove icon"></i> Cancel
        </div>
        <div ng-click="TriggerNextStep()" class="ui right floated small labeled icon button" ng-show="activeStep < stepsDefinition.steps.length - 1">
            <i  class="chevron right icon"></i> Next
        </div>
        <div ng-click="TriggerPrevStep()" class="ui right floated small labeled icon button" ng-show="activeStep > 0">
            <i class="chevron left icon"></i> Previous
        </div>
    </div>
</div>