.dx-menu {
    white-space: nowrap;
    width:40px !important;
    height: 100%;
    -webkit-transition: width 1s;
    transition: width 1s;
    border-radius: 0 !important;
    z-index: 102;
    position: relative;
}

.dx-menu:hover {
    width:200px !important;
}

.text {
    opacity: 0 !important;
    transition: ease-in-out opacity 0.25s;
}

.dx-menu:hover .text {
    transition: ease-in-out opacity 0.25s 0.1s;
    opacity: 1 !important;
}

.container {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.dx-header {
    height: 37px;
}

.footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}