.dx-menu {
    white-space: nowrap;
    width:40px !important;
    height: 100%;
    -webkit-transition: width 1s;
    transition: width 1s;
    border-radius: 0 !important;
    z-index: 102;
    position: relative;
}

.dx-menu:hover {
    width:200px !important;
}

.text-menu {
    opacity: 0 !important;
    transition: ease-in-out opacity 0.25s;
}

.dx-menu:hover .text-menu {
    transition: ease-in-out opacity 0.25s 0.1s;
    opacity: 1 !important;
}

.text-menu.title  {
    padding-left: 5px;
}

.container {
    position: relative;
    margin: 0 auto;
}

.dx-header {
    height: 37px;
}

.footer {
    background: #ffffff;
}

.user-icon{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    vertical-align: inherit;
    margin-right: 4px;
}

.user-name{
    font-weight: 200;
    color : grey;
    vertical-align: middle;
}

.ui.label.badge {
    background-color: rgba(53, 188, 177, 0.8) !important;
    color : white;
    font-size: 8px;
    padding: 0.3em 0.8em;
    vertical-align: super;
    margin: 0 0 0 -12px !important;
}

.dx-breadcrumb {
    position:fixed;
    left:60px;
    margin-top: 10px;
}

.breadcrumb {
    position:fixed;
    background: #ffffff;
    z-index: 100;
    height:100px;
    width: 100%;
    top:37px;
    right:0px;
    margin-bottom:0px;
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
}

.dx-breadcrumb .title {
    font-size: 30px;
    padding-bottom: 10px;
}

.dx-breadcrumb .inline {
    display: inline-block;
}

.well {
    padding: 150px 60px 100px;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
}

.expand-animate{
    max-height: 200px;
    transition: ease-in max-height 1s;
    overflow: hidden;
}

.collapse-animate{
    max-height : 0;
    transition: ease-out max-height 1s;
    overflow: hidden;
}

ul.click {
    cursor: pointer;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

ul.pagination{
    padding-left: 0px !important;
    cursor: pointer;
}

li.sub-menu{
    margin-top: 0px !important;
}

li.active-page{
    color: #d0d0d0 !important;
    font-weight: bold !important;
}

li.active-page{
    color: #009fda !important;
}

.item-disabled{
    color: #EBEBE4 !important;
    cursor: default;
}

.dropdown.item-page {
    margin-left: 30px !important;
    height: 40px !important;
}
